<div>
    <article id="parties" class="text-center">
        {{#each parties}}
            <button id="{{this.partyId}}" class="party btn">
                <p class="d-inline">Party Table:</p>
                <p class="number d-inline">{{this.tableNumber}}</p>
                </br>
                <p class="d-inline">Server:</p>
                <p class="name d-inline">{{this.serverName}}</p>
            </button>
        {{/each}}
        <div class="party-info">
            <p class="d-inline">Making order for table number: </p>
            <p id="partyTableNumber" class="d-inline"></p>
            <input id="tableNumberInput" type="text" placeholder="Table #">
            <p class="d-inline">Server: </p>
            <p id="partyServerName" class="d-inline">{{user.username}}</p>
        </div>
    </article>
    <div class="order" style="overflow: hidden">
        <div class="row">
            <article id="items" class="col">
                <p class="title">Items:</p>
                {{#each items}} 
                    <button id="{{this.itemId}}" class="item btn" >
                        <p class="name">{{this.itemName}}</p>
                        <p class="d-inline">$</p>
                        <p class="d-inline price">{{this.price}}</p>
                    </button>
                {{/each}} 
            </article>
            <article id="orderLog" class="col">
                <p class="title">Order:</p>
                <ul id="orderList">
                </ul>
                <div class="orderTotal title">
                    <p class="d-inline">Total: $</p>
                    <p class="d-inline" id="orderTotalPrice">0</p>
                </div>
            </article>
        </div>
        <p id="error-box"></p>
        <button id="submitOrder" class="btn btn-primary float-right">Submit</button>
    </div>
</div>
