<div>
    <article id="partyOrders" class="container text-center">
        {{#each parties}}
            {{#if this.orders.length}}
                <div class="row">
                    <div class="container">
                        <div class="partyHeader">
                            <p>Party ID: {{this.partyId}} {{this.orders.length}}</p>
                            <p class="tableNumber">Table {{this.tableNumber}}</p>
                        </div>
                        <div id="orders" class="row">
                            {{#each this.orders}}
                                <div class="col">
                                    <p class="orderId">Order: {{this.orderId}}</p>
                                    <p>Items:</p>
                                    {{#each this.items}}
                                        <p class="itemId">{{this.itemName}}</p>
                                    {{/each}}
                                    <button class="deleteOrder btn" type="button" value="{{this.orderId}}">Complete Order</button>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
        {{#unless parties.orders.length}}
            <h1 id="noOrders">There are no orders!</h1>
        {{/unless}}
    </article>
</div>
