<div>
    <article id="parties">
        {{#each parties}}
            <button class="party">
                <p>Party ID:</p>
                <p class="id">{{this.partyId}}</p>
                <p>Party Table</p>
                <p class="name">{{this.tableNumber}}</p>
                {{#each this.orders}}
                    <p>Order</p>
                    <p class="orderid">{{this.orderId}}</p>
                    {{#each this.items}}
                        <p>Order</p>
                        <p class="orderid">{{this.itemName}}</p>
                    {{/each}}
                    <button id="{{this.orderId}}">Complete Order</button>
                {{/each}}
            </button>
        {{/each}}
    </article>
</div>
